* {
  box-sizing: border-box;
}

body {
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Lato;
  background: #f1f1f1;
}

.header-img {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: url('../img/cmu.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  position: relative;
  overflow: hidden;
}

h2 {
  font-weight: bold;
  color: #005300;
}

a{
  color: #F1BD07;
}

.header-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
  }
}

.article-content,
.archive-content {
  display: flex;
}

.article-details,
.archive-details {
  margin-left: 20px;
}
